<html>

<head>
    <title>HR_tumor_detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>Brain Tumor Detection with ML</h1>
<div class="agile-its">
    <h2>Brain tumor detection with ML Web Service</h2>
    <h3>2020(Fall Semeseter)<br>Biomedical Image Processing, Harim Chun</h3>
    <div class="w3layouts">
        <div class="photos-upload-view">

            <form id="upload" action="/predict" method="POST" enctype="multipart/form-data">
                <div class="upload-btn-wrapper">
                    <button class="btn">이미지 업로드</button>
                    <input type="file" value="Upload" name="image">
                </div>
                <input type="submit" value="예측 결과">
                {% if label %}
                    <span class="result_lable">
                        {{ label }}
                    </span>
                {% endif %}
                {% if img %}
                <img src="{{url_for('static', filename=img) }}" style="margin-left: auto; margin-right: auto; display: block;"/>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<div>
    <p style="text-align: center;">Using the 40 each yes and no images,<br>Cutoff was determinede as 0.4</p>
    <p><br</p>
    <img src="{{url_for('static', filename='box_plot.png') }}" style="margin-left: auto; margin-right: auto; display: block;"/>
</div>
</body>

</html>